---
"@nx.js/runtime": patch
---

Enable TLS certificate verification by default using the Switch system CA store
